<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="/css/index.css" />
<link rel="stylesheet" href="/css/navbar.css" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link href="/css/tailwind.min.css" rel="stylesheet">
<script src="/js/all.js"></script>
<link rel="stylesheet" href="/css/devicon.min.css">

<script type="text/javascript">
    window.addEventListener('scroll', ()=>{
        const nav = document.querySelector('nav')
        nav.classList.toggle('onscroll', window.scrollY > 0)
    })
</script>

<!-- Fathom - beautiful, simple website analytics -->
<script src="https://emu.advisedbyshort.com/script.js" site="AJHRRYSB" defer></script>
<!-- / Fathom -->